<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand clearfix">
        <img class="logo-header {{#unless user}} {{#unless user.picture}} logo-header-not-logged-in {{/unless}} {{/unless}}" src="/images/profile.jpg" />
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    {{#if user}}
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
          {{#if user.picture}}
            <img src="{{user.picture}}" class="user-picture">
          {{/if}}
          {{#if user.name}}
             <span>
             {{user.name}}
             </span>
          {{else}}
             <span>
             {{user.email}}
             </span>
          {{/if}}
          <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/account">My Account</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    {{else}}
      <li class="{{#ifeq title 'Log in'}}active{{/ifeq}}"><a href="/login">Login</a></li>
      <li class="{{#ifeq title 'Sign up'}}active{{/ifeq}}"><a href="/signup">Signup</a></li>
    {{/if}}
    </ul>
    </div>
</nav>
