<h3>Welcome to Donate for Donald! </h3>
<p>Please confirm your email address to start donating. Hope you're not tired of all this winning yet - this is the last step! </p>

<a href="{{baseUrl}}/confirm_email?token={{token}}" style="padding: 20px 25px; color: #fff; background-color: #00aced; border-radius: 3px">Confirm My Account</a>

<span>Click the button above or copy and paste the following link into your browser:</span>
<a href="{{baseUrl}}/confirm_email?token={{token}}">{{baseUrl}}/confirm_email?token={{token}}</a>

<p>Get ready to turn his next Fox-fueled Twitter tirade into something good. Thanks for signing up!</p>

<p>If you have any feedback or questions, get in touch! Email us at <a href="mailto:donatefordonald@gmail.com">donatefordonald@gmail.com</a>. </p>

<p style="color: #888; padding-top: 10px; border-top: 1px solid #eee; font-size: 80%">If you did not create an account, please disregard this email.</p>