<div class="donations-page">
  {{> header}}
  <div class="ui container top-margin-10" style="margin-top:5%">
    <h1>My Donations</h1>
    {{#if donations}}

    <table class="ui unstackable single line table">

      <thead>
        <tr>
          <th>Amount</th>
          <th>Charity</th>
          <th>Tweet</th>
          <th>Paid</th>
        </tr>
      </thead>
      <tbody>
        {{#each donations}}

        <tr>
          <td><i class="ui icon green plus"></i> ${{this.donations.amount}}</td>
          <td>{{this.charity.name}}</td>
          <td><a href="https://twitter.com/realDonaldTrump/status/{{this.donations.tweetId}}">Link</a></td>
          <td class="center aligned">
            {{#if this.donations.paid}}
            <i class="large green checkmark icon"></i> {{else}}
            <i class="large red cancel icon"></i> {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>No donations. <a href="/">Make some triggers!</a></p>
    {{/if}}


    <!--
  {{#each tweets}}
  <pre>{{toJSONPretty this}}</pre>
  {{/each}}
  -->

  </div>
</div>