
<body class="site">
  {{> header}}
  <main>
    <div class="ui text container settings-page">
      <h1>{{title}}
      </h1>
      <div>
        <h3>Social</h3>
        <div class="ui buttons">
          <a href="/auth/facebook">
            <button class="ui button facebook icon">
              <i class="facebook icon"></i>
              {{#if user.facebook}}
                Relink Facebook
              {{else}}
                Link Facebook
              {{/if}}
            </button>
          </a>

        {{#if user.facebook}}
          <a href="/unlink/facebook" class="js-unlink-facebook">
            <button class="ui button facebook icon" style="margin-left: 10px">
              <i class="facebook icon"></i>
              Unlink Facebook
            </button>
          </a>
        {{/if}}

        <a href="/auth/twitter">
          <button class="ui button twitter icon" style="margin-left: 10px">
            <i class="twitter icon"></i>
            {{#if user.twitter}}
              Relink Twitter
            {{else}}
              Link Twitter
            {{/if}}
          </button>
        </a>

        <a href="/unlink/twitter" class="js-unlink-twitter {{#if_not user.twitter}}hide{{/if_not}}">
          <button class="ui button twitter icon" style="margin-left: 10px">
            <i class="twitter icon"></i>
            Unlink Twitter
          </button>
        </a>
      </div>

      <form id="" class="ui large form" method="post" action="/account">
        <h3>Email</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
          <label>Current Email</label>
          <div>{{user.email}}</div>
        </div>
        <div class="two fields">
        <div class="field">
          <label>New Email</label>
          <div class="ui input fluid">
            <input type="email" name="confirm" placeholder="New Email">
          </div>
        </div>
        <div class="field">
          <label>Confirm Email</label>
          <div class="ui input fluid">
            <input type="email" name="confirm_email" placeholder="Confirm Email">
          </div>
        </div>
        </div>
        <div class="field">
          <button class="ui button primary icon"><i class="icon envelope"></i> Update Email
          </button>
        </div>
      </form>
      <form id="" class="ui large form" method="post" action="/account">
        <h3>Password</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="two fields">
        <div class="field">
          <label>New Password</label>
          <div class="ui input fluid">
            <input type="password" name="password" placeholder="New Password">
          </div>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <div class="ui input fluid">
            <input type="password" name="confirm" placeholder="Confirm Password">
          </div>
        </div>
        </div>
        <div class="field">
          <button class="ui button primary icon"><i class="icon key"></i> Change Password
          </button>
        </div>
      </form>
      <form id="" method="post" action="/account" class="ui large form">
        <h3>Payment</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="ui two fields">
          <div class="field">
              <label>First Name</label>
              <input type="text" name="first_name" placeholder="First Name">
          </div>
          <div class="field">
              <label>Last Name</label>
              <input type="text" name="last_name" placeholder="Last Name">
          </div>
        </div>
        <div class="field">
            <label>Credit Card Number</label>
            <div class="ui input fluid">
            <input type="" name="credit_card" placeholder="Credit Card Number">
            </div>
        </div>
        <div class="ui two fields">
          <div class="field">
              <label>CVV</label>
              <input type="text" name="cvv" placeholder="CVV" maxlength="4">
          </div>
          <div class="field">
              <label>Expiration Date</label>
              <input type="text" name="expiration" placeholder="MM/YYYY">
          </div>
        </div>
        <div class="field">
          <button class="ui button primary icon"><i class="icon credit card"></i> Save Payment
          </button>
        </div>
      </form>
      <form id="" method="post" action="/account" class="ui large form">
        <h3>Account</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
          <button class="ui red button icon delete-account-btn" type="submit"><i class="icon trash"></i>Delete Account</button>
        </div>
      </form>
    </div>
  </main>
