<!-- Page -->
<style>
  html {
    height: 100% !important;
  }

  button {
    margin-bottom: 25px !important;
  }

</style>

<body class="site" style="max-height: 100%">
  {{> header}}
  <main>
    <div class="ui text container web-form">
      <h1>{{title}}
      </h1>
      <div>
        <h3>Social Accounts</h3>
        <div class="ui buttons">
          <a href="/auth/facebook">
            <button class="ui button facebook icon"
            style="border-radius: 3px">
              <i class="facebook icon"></i>
              {{#if user.facebook}}
                Relink Facebook
              {{else}}
                Link Facebook
              {{/if}}
            </button>
          </a>

        <a href="/auth/twitter">
          <button class="ui button twitter icon"
          style="margin-left: 10px; border-radius: 3px;">
            <i class="twitter icon"></i>
            {{#if user.twitter}}
              Relink Twitter
            {{else}}
              Link Twitter
            {{/if}}
          </button>
        </a>
      </div>
      <form id="" class="ui large form" method="post" action="/account">
        <h3>Update Email</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
          <label>Current Email</label>
          <div>{{user.email}}</div>
        </div>
        <div class="field">
          <label>New Email</label>
          <div class="ui input fluid">
            <input type="email" name="confirm" placeholder="New Email">
          </div>
        </div>
        <div class="field">
          <label>Confirm Email</label>
          <div class="ui input fluid">
            <input type="email" name="confirm_email" placeholder="Confirm Email">
          </div>
        </div>
        <div class="field">
          <button class="ui button primary icon"><i class="icon envelope"></i> Update Email
          </button>
        </div>
      </form>
      <form id="" class="ui large form" method="post" action="/account">
        <h3>Change Password</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
          <label>New Password</label>
          <div class="ui input fluid">
            <input type="password" name="password" placeholder="New Password">
          </div>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <div class="ui input fluid">
            <input type="password" name="confirm" placeholder="Confirm Password">
          </div>
        </div>
        <div class="field">
          <button class="ui button primary icon"><i class="icon key"></i> Change Password
          </button>
        </div>
      </form>
      <form id="" method="post" action="/account" class="ui large form">
        <h3>Account</h3>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
          <button class="ui red button icon delete-account-btn" type="submit"><i class="icon trash"></i>Delete Account</button>
        </div>
      </form>
    </div>
  </main>


  <!--
  <footer>
    <span style="float: left">                      <a href="#" class="item"><i class="ui icon github"></i>View Source</a>
</span>
    <div style="display: inline-block; float: right">

      <a href="#" class="item"><i class="ui icon twitter"></i> Twitter</a>
      <a href="#" class="item"><i class="ui icon facebook"></i> Facebook</a>

      <a href="mailto:team@donatefordonald.org" class="item"><i class="ui icon envelope"></i> Contact</a>

    </div>
  </footer>
  -->
