{{> header}}

<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Create Trigger</h3>
    </div>
    <div class="panel-body">
      {{#if messages.success}}
        <div role="alert" class="alert alert-success">
          {{#each messages.success}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      {{#if messages.error}}
        <div role="alert" class="alert alert-danger">
          {{#each messages.error}}
            <div>{{msg}}</div>
          {{/each}}
        </div>
      {{/if}}
      <form method="POST" class="form-horizontal">
        <div class="form-group">
          <label for="phrase" class="col-sm-2">Phrase</label>
          <div class="col-sm-8">
            <input type="text" name="phrase" id="phrase" placeholder="FAKE NEWS" class="form-control" autofocus>
          </div>
        </div>
        <div class="form-group">
          <label for="charity" class="col-sm-2">Charity</label>
          <div class="col-sm-8">
            <input type="text" name="charity" id="charity" class="form-control" placeholder="ACLU">
          </div>
        </div>
        <div class="form-group">
          <label for="amount" class="col-sm-2">Amount</label>
          <div class="col-sm-8">
            <input type="number" name="amount" id="amount" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="notification" class="col-sm-2">Notification</label>
          <div class="col-sm-8">
            <input type="checkbox" name="notification" id="notification" class="form-control">
            Text me to confirm each donation
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  {{#each triggers}}
    <div>
      <div class="ui form landing-form">
        <div class="center js-select-trigger">
          <div class="ui huge dropdown labeled fluid inline icon basic button">
          <input type="hidden" name="trigger">
            <i class="quote left icon"></i>
            <div class="default text">{{this.name}}</div>
            <div class="menu js-fill">
            </div>
          </div>
        </div>
          <div class="center js-select-charity">
            <div class="ui huge dropdown labeled fluid inline basic icon button">
             <input type="hidden" name="charity">
              <i class="heart icon"></i>
              <div class="default text">{{this.charityId.name}}</div>
              </div>
            </div>
            <div class="center js-select-charity">
              <div class="ui huge dropdown labeled fluid inline basic icon button">
                <input type="hidden" name="charity">
                <i class="dollar icon"></i>
                <div class="default text">{{this.amount}}</div>
              </div>
            </div>
        </div>
    </div>
  {{/each}}
</div>
