{{> header}} {{#if_not user.emailConfirmed }}
<div class="ui inline js-email-nag email-nag d4d-nag" {{#if_not user.emailConfirmed }}style="display: block;" {{/if_not}}>
  <div class="ui text container">
    <p>
      Please confirm your email to start donating or <a href="#" class="new-link">request a new confirmation link</a>
      <a href="#" class="close-nag"><i class="close icon js-close-nag"></i></a>
    </p>
  </div>
</div>
<style>
  .inactive {
    color: #888 !important;
  }
</style>
{{/if_not}}
<div class="ui text container triggers-page" style="margin-top: 0px; padding-top: 0px">
  <div class="ui center aligned js-no-triggers {{#if_not triggers}}{{else}}hide{{/if_not}}">
    <h3 class="ui header no-triggers">
      No triggers. Sad! <a href="/">Make some.</a>
    </h3>
    <img src="images/maxs.png" style="width: 40%; min-width: 300px; display: block; margin: 0 auto; height: auto; margin-top: 4%"
    />
  </div>
  <div class="ui items">
    {{#each triggers}}

    <div class="item js-trigger-item js-trigger-id-{{this.id}}" style="border-bottom: 1px solid #eee; padding-bottom: 10px">
      <meta class="trigger-data" data-charityname="{{this.charityId.name}}" data-charitytwitter="{{this.charityId.twitter}}" data-amount="{{this.amount}}"
        data-charity="{{this.charityId.id}}" data-term="{{this.name}}">
      <div class="ui fluid image charity-image" style="border-radius: 10px; width: 170px">
        <img src="{{this.charityId.image}}">
      </div>

      <div class="content">
        <div class=" ui right floated small horizontal statistic">

          <div class="value">
            <i class="usd green icon" style="position: relative; left: 10px"></i>
            <span class="trigger-amount">{{this.amount}}<span>
          </div>
        </div>

        <div class="header trigger-title">
          <span style="position: relative; top: 0px; color: #555">
          <a class="ui icon js-active-button
              js-disable {{#if_not this.active}}hide{{/if_not}}" data-id="{{this.id}}">
              <i class="icon large toggle on green" ></i>
            </a>
            <a class="ui icon js-active-button
              js-enable {{#if this.active}}hide{{/if}}" data-id="{{this.id}}">
              <i class="icon large toggle off" style="color: #777" ></i>
            </a></span> {{this.name}}


          </div>

          <div class="meta" style="width: 100%">
            <span class="stay charity-name" style="color: #555; font-weight: 300; position: relative; top: 3px"> {{this.charityId.name}}</span>
          </div>
          <div class="extra " style="position: relative; top: -13px; display: inline-block;">
            <div>
              <i class="blue twitter icon"></i> {{this.tweetsCount}} tweets
            </div>
            <div>
              <i class="green money icon"></i> ${{this.donations}} donated
            </div>
          </div>

          <span style="float: right; text-transform: uppercase; color: #999; font-size: 80%; position: relative; top: -7px">
              <i class="ui icon share"></i> Share this
            </span>

          <div style="position: relative; top: -20px">

            <div class="js-social-active-button social-active-button
              js-disable {{#if_not this.social}}hide{{/if_not}}" data-id="{{this.id}}" style="color: #999; cursor: pointer">

              <i class="icon check circle green"></i> Autoreply on Twitter
            </div>
            <div class="js-social-active-button social-active-button
              js-enable {{#if this.social}}hide{{/if}}" data-id="{{this.id}}" style="color: #999; cursor: pointer">
              <i class="icon radio" style="color: #555"></i> Autoreply on Twitter
            </div>
          </div>


          <div style="position: relative; top: -5px">
            <button class="ui button large js-edit-button icon fluid" data-id="{{this.id}}" style="width: 50%; display: inline-block"><i class="icon write"></i> Edit</button>
            <button class="ui large circular button basic icon" style="display: inline-block; float: right; position: relative; top: -1px; right: -10px"><i class="ui attach icon"></i></button>

            <button class="ui large circular button twitter icon" style="display: inline-block; float: right; position: relative; top: -1px; right: -10px"><i class="ui twitter icon"></i></button>

            <button class="ui large circular button facebook icon" style="display: inline-block; float: right; position: relative; top: -1px; right: -10px"><i class="ui facebook icon"></i></button>

          </div>

        </div>
      </div>
      {{/each}}
    </div>

    <div class="ui small modal edit-trigger">
      <meta class="js-editing-trigger-id" data-id="">
      <meta class="js-editing-trigger-data" data-trigger="">
      <i class="close icon"></i>
      <div class="header">
        <div class="js-term" style="font-family: Bangers; letter-spacing: 1px; font-size: 26px">
        </div>
      </div>

      <div class="content">
        <form class="ui form">
          <div class="field">
            <label>Amount</label>
            <div class="ui right fluid inline labeled input">
              <div class="ui label basic" style="">$</div>
              <input class="amount" type="number" name="amount" placeholder="Amount">
            </div>
          </div>
          <div class="field">
            <label>Charity</label>
            <div class="js-select-charity">
              <div class="ui dropdown labeled fluid inline basic search icon button">
                <input type="hidden" name="charity">
                <i class="heart icon"></i>
                <div class="default text">Charity</div>
                <div class="menu" id="charities">
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="actions js-actions-primary">




        <div class="ui icon red button js-delete-trigger">
          <i class="trash icon"></i> Delete
        </div>
        <div class="ui deny basic icon button">

          <i class="cancel icon"></i> Cancel
        </div>


        <div class="ui green icon button js-update-trigger">
          <i class="checkmark icon"></i> Save
        </div>
      </div>
      <div class="actions js-actions-confirm hide">
        <div class="ui basic icon button js-delete-trigger-cancel">
          <i class="left arrow icon"></i> Go Back
        </div>
        <div class="ui red icon button js-delete-trigger-confirm">
          <i class="trash icon"></i> Delete
        </div>
      </div>
    </div>

  </div>
