{{> header}} {{#if_not user.emailConfirmed }}
<div class="ui inline js-email-nag email-nag">
  <div class="ui text container">
    <p>
      Please confirm your email to start donating or <a href="#" class="new-link">request a new link</a>      <a href="#" class="close-nag"><i class="close icon js-close-nag"></i></a>
    </p>
  </div>
</div>
{{/if_not}}
<div class="ui text container web-form triggers-page">
  <div class="ui divided items">
    {{#if_not triggers}}
    <div class="ui center aligned">
      <div class="ui text container">
        <h2 class="ui header no-triggers">
          You have no triggers. <a href="/">Make some.</a>
          <h2>
      </div>
    </div>
    {{/if_not}} {{#each triggers}}

    <div class="item js-trigger-item js-trigger-id-{{this.id}}">
      <div class="ui small fluid image charity-image" style="border-radius: 3px">
        <img src="{{this.charityId.image}}">
      </div>

      <div class="content">

        <div class=" ui right floated horizontal small statistic">

          <div class="value">
            <i class="usd green small icon"></i>{{this.amount}}</div>
          <div class="label">
            / tweet
          </div><br>
        </div>

        <div class="header trigger-title">{{this.name}} </div>
        <div class="meta">

          <span class="stay"> {{this.charityId.name}}</span>
        </div>

        <div class="extra">
          <div>
            <i class="blue twitter icon"></i> {{this.tweetsCount}} tweets
          </div>
          <div>
            <i class="green money icon"></i> ${{this.donations}} donated
          </div>

        </div>
        <div class="left floated trigger-actions">
          <button class="ui button small icon red js-active-button
            js-disable {{#if_not this.active}}hide{{/if_not}}"
            data-id="{{this.id}}">
            <i class="icon power"></i>
            <i class="hide icon fa-spinner fa-spin fa-fw"></i>
            Turn Off
          </button>
          <button class="ui button small icon green js-active-button
            js-enable {{#if this.active}}hide{{/if}}"
            data-id="{{this.id}}">
            <i class="icon power"></i>
            <i class="hide icon fa-spinner fa-spin fa-fw"></i>
            <span class="text"> Turn On</span>
          </button>
          <button class="ui button small js-edit-button icon"><i class="icon write"></i> Edit</button>
          <button class="ui button small primary js-share-button icon" data-html='<button class="ui circular facebook icon button"><i class="facebook icon"></i></button><button class="ui circular twitter icon button"><i class="twitter icon"></i></button><button class="ui circular google plus icon button"><i class="google plus icon"></i></button>'
            data-position="right center"><i class="icon share"></i> Share</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
      Update Your Trigger
    </div>
    <div class="content">
      <form class="ui form">
          <div class="field">
            <label>Term</label>
            <p>Fake News</p>
          </div>
          <div class="field">
            <label>Amount</label>
          <div class="ui right labeled input">
  <div class="ui basic label">$</div>
          <input type="number" name="amount" placeholder="Amount">
        </div>
      </div>
        <div class="field" style="margin-bottom: 20px">
          <label>Charity</label>
          <div class="js-select-charity">
            <div class="ui dropdown labeled fluid inline basic search icon button">
              <input type="hidden" name="charity">
              <i class="heart icon"></i>
              <div class="default text">Charity</div>
              <div class="menu" id="charities">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui deny basic button">
        Cancel
      </div>
      <div class="ui negative right labeled icon button">
        Delete
        <i class="trash icon"></i>
      </div>
      <div class="ui positive right labeled icon button">
        Save Changes
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</div>
