{{> header}}

<div class="ui text container web-form">
  <div class="ui divided items" style="">
    {{#if_not triggers}}
      <div class="ui center aligned">
        <div class="ui text container">
          <h2 class="ui header no-triggers">
            You have no triggers. <a href="/">Make some.</a>
          <h2>
        </div>
      </div>
    {{/if_not}}

    {{#each triggers}}

    <div class="item">
      <div class="ui small fluid image charity-image" style="border-radius: 3px">
        <img src="{{this.charityId.image}}">
      </div>

      <div class="content">

        <div class=" ui right floated horizontal small statistic">

          <div class="value" style="position: relative; right: -8px">
            <i class="usd green small icon" style="position: relative; top: -4px; right: -4px"></i>{{this.amount}}</div>

          <div class="label">
            / tweet
          </div><br>
        </div>

        <div class="header trigger-title" >{{this.name}} </div>
        <div class="meta" style="position: relative; top: -10px">

          <span class="stay"> {{this.charityId.name}}</span>
        </div>

        <div class="extra" style="position: relative; top: -15px">
          <div style="display: inline-block">

            <i class="blue twitter icon"></i> 10 tweets
          </div>
          <div style="display: inline-block">
            <i class="green money icon"></i> $121 donated
          </div>

        </div>
        <div class="left floated trigger-actions" style="margin-top: 20px">
          {{#if this.active}}
          <button class="ui button small icon red"><i class="icon power"></i> Turn Off</button>
          {{else}}
          <button class="ui button small icon green"><i class="icon power"></i> Turn On</button>
          {{/if}}
          <button class="ui button small icon"><i class="icon write"></i> Edit</button>
          <button class="ui button small primary icon"><i class="icon share"></i> Share</button>


        </div>
      </div>


    </div>
    {{/each}}
  </div>
</div>
